.tabs .tab {
    text-transform: initial;
}

#wrap-content {
    padding-top: 10px;
}

.toggle {
    margin-bottom: -10px;
}
.data-table td, .data-table th {
    padding: 0;
}
.data-table {
    padding-top: 20px !important;
}

.backup-row-icon {
    font-size: 1rem;
    padding-top: 2px;
}

h4 small {
    font-size: 50%;
}

footer.page-footer {
    padding-top: 0;
}
