<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block htitle %}SPARCS Heartbeat{% endblock %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>

    {% block app-header %}{% endblock %}
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">???</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if not user.is_authenticated %}
                <li><a href="/login/">Login</a></li>
                {% else %}
                <li><a href="#">Logged as {{user.first_name}}</a></li>
                <li><a href="/logout/">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <section>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer class="page-footer orange" style="position:absolute;bottom:0;width:100%">
        <div class="container">
            <div class="row">
                <div class="col l5 s12">
                    <h5 class="white-text">SPARCS</h5>
                    <p class="grey-text text-lighten-4">SPARCS: System Programmers' Association for Researching Computer Systems is the best computer R&amp;D club in KAIST. We make services for KAIST members from 1991. We recruit new members at the beginning of every spring and fall semester.</p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Services</h5>
                    <ul>
                        <li><a class="white-text" href="http://ara.kaist.ac.kr">ARA - Official KAIST Community</a></li> 
                        <li><a class="white-text" href="https://otl.kaist.ac.kr">OTL - Online Timeplanner with Lectures!</a></li> 
                        <li><a class="white-text" href="http://zabo.sparcs.org">Zabo - Upload and Share Posters on the Internet</a></li> 
                        <li><a class="white-text" href="https://sparcssso.kaist.ac.kr">SSO - Single Login for the SPARCS Services!</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li class="white-text">Staff Email: staff (at) sparcs.org</li>
                        <li class="white-text">SYSOP Email: wheel (at) sparcs.org</li>
                        <li class="white-text">Location: KAIST Undergraduate Branch Library (N10) 1st Floor SPARCS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://sparcs.org">SPARCS</a>
            </div>
        </div>
    </footer>
</body>
</html>
